@page "/Privacy"

<div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Privacy notice for the Apply to transfer an academy into your trust service</h1>
        <p class="govuk-body">
            The Department for Education (DfE) owns the Apply to transfer an academy into your trust service and is the <a href="https://ico.org.uk/for-organisations/guide-to-data-protection/guide-to-the-general-data-protection-regulation-gdpr/controllers-and-processors/what-are-controllers-and-processors/">data controller (opens in new tab)</a> for it.
        </p>
        <p class="govuk-body">
            For detailed information on how we handle personal data, including your rights and our responsibilities, see our department’s privacy notice - <a href="https://www.gov.uk/government/publications/privacy-information-education-providers-workforce-including-teachers/privacy-information-education-providers-workforce-including-teachers#using-your-data-when-you-usedfesign-in">Privacy information: education providers’ workforce, including teachers</a>. This document includes the principles and practices we follow to make sure your information is processed securely as required by applicable data protection laws.
        </p>
        <h3 class="govuk-heading-m">Changes to this notice</h3>
        <p class="govuk-body">
        We recommend that you come back to this page from time to time as we sometimes need to update this information.
        </p>
        <p class="govuk-body">
        Last updated 18 November 2025
        </p>
    </div>
</div>
