@page
@model GovUK.Dfe.LocalSendReformPlans.Web.Pages.Error.GeneralModel
@{
    ViewData["Title"] = "There is a problem";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">There is a problem</h1>
        
        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <p class="govuk-body">@Model.ErrorMessage</p>
        }
        else
        {
            <p class="govuk-body">We're sorry, something went wrong.</p>
            <p class="govuk-body">Please try signing out and signing back in.</p>
        }
        
        @if (!string.IsNullOrEmpty(Model.ErrorId))
        {
            <p class="govuk-body">
                If the problem continues, 
                <a class="govuk-link" href="mailto:@Model.SupportEmail?subject=@Uri.EscapeDataString(Model.EmailSubject)&body=@Uri.EscapeDataString(Model.EmailBody)">contact the support team</a> 
                and quote this error reference:
            </p>
            <p class="govuk-body">
                <strong class="govuk-tag govuk-tag--red">@Model.ErrorId</strong>
            </p>
        }
        else
        {
            <p class="govuk-body">
                If the problem continues, 
                <a class="govuk-link" href="mailto:@Model.SupportEmail?subject=@Uri.EscapeDataString(Model.EmailSubject)">contact the support team</a>.
            </p>
        }
        
        <p class="govuk-body govuk-!-margin-top-6">
            <a class="govuk-link" href="/applications/dashboard">Go to your applications dashboard</a>
        </p>
    </div>
</div>
