@page
@model GovUK.Dfe.LocalSendReformPlans.Web.Pages.Error.ServerErrorModel
@{
    ViewData["Title"] = "Sorry, there is a problem with the service";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Sorry, there is a problem with the service</h1>
        
        <p class="govuk-body">Try again later.</p>
        
        @if (!string.IsNullOrEmpty(Model.ErrorId))
        {
            <p class="govuk-body">
                If you continue to experience problems, 
                <a class="govuk-link" href="mailto:@Model.SupportEmail?subject=@Uri.EscapeDataString(Model.EmailSubject)&body=@Uri.EscapeDataString(Model.EmailBody)">contact the support team</a> 
                and quote this error reference:
            </p>
            <p class="govuk-body">
                <strong class="govuk-tag govuk-tag--red">@Model.ErrorId</strong>
            </p>
        }
        else
        {
            <p class="govuk-body">
                If you continue to experience problems, 
                <a class="govuk-link" href="mailto:@Model.SupportEmail?subject=@Uri.EscapeDataString(Model.EmailSubject)">contact the support team</a>.
            </p>
        }
        
        <p class="govuk-body govuk-!-margin-top-6">
            <a class="govuk-link" href="/applications/dashboard">Go to your applications dashboard</a>
        </p>
    </div>
</div>

