<div id="notification-container"></div>

<style>
    .notification-item {
        position: relative;
        margin-bottom: 20px;
    }

    .govuk-notification-banner--warning {
        border-color: #ffdd00;
    }
    .govuk-notification-banner--warning .govuk-notification-banner__header {
        background-color: #ffdd00;
        color: #0b0c0c;
    }
    #notification-container {
        width: 100%;
        margin-bottom: 30px;
    }
</style>
